@import url('https://fonts.googleapis.com/css2?family=Besley&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}


button {
    background-color: transparent;
    padding: 10px;
    margin: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50px;
    
}

.clock-container button {
    margin: 10px;
}

.App-header {
    background: #1D2B64;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #400d0d,#0c1744);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #400d0d,#0c1744); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.body {
    color: white;
}
.h1 {
    font-family: Roboto, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-container {
    margin: -50px 20px 20px;
}

.timer-container h2 {
    margin: 0;
}

.actions-wrapper span {
    font-size: 40px;
    margin: 15px;
    width: 50px;
}

.clock-container {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px ;
    display: inline-block;
    margin-top: 30px;
    width: 350px;
}

.clock-container span {
    font-size: 60px;
}

.clock-container h1 {
    margin: 0;
}